<form *ngIf="user" #userForm  [formGroup]="user">
    <div class="form-group">
        <label>Имя</label>
        <input formControlName="name" type="text" />
        <div class="alert alert-danger"
            *ngIf="user.controls['name'].invalid && user.controls['name'].touched">
            Не указано Имя
        </div>
    </div>
    <div>
        <label>Email</label>
        <input formControlName="email" type="text" />
        <div class="alert alert-danger"
            *ngIf="user.controls['email'].invalid && user.controls['email'].touched">
            Некорректный адрес email
        </div>
    </div>
    <div>
        <label>Улица:</label>
        <input formControlName="street" type="text" />
        <div class="alert alert-danger"
            *ngIf="user.controls['street'].invalid && user.controls['street'].touched">
            Не указана Улица
        </div>
    </div>
    <h3>Адрес</h3>
    <div>
        <label>Дом</label>
        <input formControlName="suite" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['suite'].invalid && user.controls['suite'].touched">
            Не указан номер Дома
        </div>
    </div>
    <div>
        <label>Город</label>
        <input formControlName="city" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['city'].invalid && user.controls['city'].touched">
            Не указано название Города
        </div>
    </div>
    <div>
        <label>Индекс</label>
        <input formControlName="zipcode" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['zipcode'].invalid && user.controls['zipcode'].touched">
            Некорректно указан Индекс
        </div>
    </div>
    <div>
        <label>Телефон</label>
        <input formControlName="phone" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['phone'].invalid && user.controls['phone'].touched">
            Некорректно указан телефон
        </div>
    </div>
    <div>
        <label>Сайт</label>
        <input formControlName="website" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['website'].invalid && user.controls['website'].touched">
            Некорректно указан адрес Сайта
        </div>
    </div>
    <div>
        <label>Компания</label>
        <input formControlName="company" type="text" />
        <div class="alert alert-danger"
        *ngIf="user.controls['company'].invalid && user.controls['company'].touched">
            Не указано название Компании
        </div>
    </div>
    
    <pre>
        {{ user.value | json }}
    </pre>
        
</form>